html, body,
.container,
.wrapper,
  .wrapper section {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Lora', Serif;
  color: black;
}

h1, h2, h3 {
  font-family: 'Oswald', Sans;
}

.wrapper section {
  height: auto;
  min-height: 680px;
  padding: 10% 0;
  position: relative;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/*   NAVBAR   */
nav {
  background: #222;
  padding: 10px 20px;
}
nav li {
  display: inline;
  margin: auto 1.5em;
  position: relative;
}
nav li a {
  color: #7af;
  font-family: 'Oswald', Arial;
  font-weight: bold;
  font-size: 1.5em;
}
nav li a:hover {
  text-decoration: none;
}

/*   ABOUT   */
#about {
  background-image: url(http://i.imgur.com/nfTTaxz.jpg);
}

/*   EXAMPLES   */
#examples {
  background-image: url(http://i.imgur.com/j6uslPn.jpg);
}
.thumb {
    position:relative;
    overflow:hidden;
    background: rgba(55, 55, 55, 0.9);
    border: none;
    border-radius: 10px;
    text-align: center;
    color: white;
    padding: 50px 0;
    margin: 0 35px;
}

/*   CONNECT   */
#connect {
  background-image: url(http://i.imgur.com/ZwBztaG.jpg);
}
#selfpic {
  height: auto;
  border: solid #7af 5px;
  border-radius: 8px;
}
